*{
    margin: 0;
    font-family: 'Poiret One', cursive;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
color:#a6f4dc;
text-decoration: none;
cursor: pointer;
font-weight: 900;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:13vh;
    width:100%;
    background-color:black;
    color:white;
    font-size:4.5vmin;
    position:fixed;
    top: 0;
    z-index: 2;
    font-weight: 900;
  
    }

/* Navbar END */


/* Hero Text */
.hero-text{
    
display: flex;
justify-content: center;
padding-top: 15vh;
font-size: 4vmin;
font-weight: 900;
}
.hero-text
{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
   text-transform: uppercase;
  background-image: linear-gradient(
    -215deg,
    black   10%,
    #a6f4dc  80%,
     black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Hero Text-End */
.hero-background{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
  


}
.qardHero{
    display:flex;
    justify-content: center;
    height: auto;
    width:65vw;
    outline:3px solid #a6f4dc ;
    outline-offset: -2px;
    margin-top: 2vh;
    margin-bottom:2vh;

    

}






.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50vw;
    font-size: 4.5vmin;
    font-weight: 900;
    background-color: white;
    border:solid black 1px;
    padding:15px;
    border-radius: 2.5px;
    cursor: pointer;
    margin-bottom: 7.5vmax;
    color:black;
    text-decoration: none;
}


.btn:hover{
height: auto;
border-color: #a6f4dc;
box-shadow: #2f2e2e 1.5px 2px 1.5px 2px;  
background:#2f2e2e; 
color:#a6f4dc;
border-width: .3vmin;
}

/* Enter Raffle BTN END*/


.elevatorDiv{
width:90%;
height:auto;
font-size: 4vmin;
display: flex;
justify-content: center;
text-align: center;
margin:0vmin, 5vmin,5vmin,5vmin;
margin-right: 5vw;
margin-left: 5vw;
margin-bottom:10vh;
font-weight: 700;
text-transform: uppercase;
line-height: 6vmin; ;
}


.box {
    display: flex;
    flex-wrap: wrap;
  
}
.box>* {
    flex: 1 1 160px;
    height:auto;
    min-width:70vmin;
    font-size:3.5vmin;
    font-weight: 700;
    text-align: center;
    padding:20px;
  
}

.box1{
  background:linear-gradient(rgb(249, 249, 249),#a6f4dc,rgb(249, 249, 249))
}

.box2{

height: auto;
width:100%;
background-color: rgb(249, 249, 249);

}


.boxTitle{
font-size:5vmin;


}

.allItems{
    height: auto;
    width: 100%;
    margin-bottom: 20vh;
    
}

.connectText{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-size:3.5vmin;
font-weight: 700;
border-top:solid #a6f4dc;
border-bottom:solid #a6f4dc;
height: auto;
padding:3.5vmin;
margin:5vmin;
}

.join{
    display: flex;
    justify-content: center;
    font-size: 6vmin;
    align-items: center;
    margin-top: 8vmin;
    }

.hiring{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
align-items: center;
font-size: 3.5vmin;
margin-top: 1vmin;
height: auto;
width:100%;
font-size: 4vmin;
padding-bottom: 20vmin;


}
.hirebox{
    font-size:3vmin;
    padding:2vmin;
    margin-top: 10vmin;
    margin-bottom: 5vmin;
    border-radius: 5px;
    box-shadow: 0px 0px 50px 15px #E2E2E2;
    font-weight: 600;
    height: auto;
    width:30vmax;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Send us a message */

.submitForm{
    display:flex;
    justify-content: center;
    height: auto;
    width: 100%;
    
    
}

.nameEmail{
height: auto;
width: 100%;
display:flex;
justify-content: space-evenly;
align-items: center;
margin-bottom: 2vmin;
margin-left:.25vmin;
border:none;
margin-top:3.75vmin


}

.name{
height: 3.5vmin;
width: 45%;
border:none;
border-bottom: 3px solid #E2E2E2;
font-weight: 800;
font-size: 3vmin;
resize: none;
outline: none !important;
overflow: hidden;

}
.email{
    overflow: hidden;
    height: 3.5vmin;;
    width: 45%;
    border:none;
    border-bottom:3px solid #E2E2E2;
    font-weight: 800;
    font-size: 3vmin;
    resize: none;
    outline: none !important;
    }

.message{
display:flex;
justify-content:center;
width:70vmin;
height: 10vh;
border-width: .1px;
border-color:#E2E2E2;
resize: none;
font-size: 3.5vmin;
font-weight: 500;
outline-color: #E2E2E2 !important;

}

.formSendButton{
margin-bottom: 10vmin;
padding: 2vmin 4vmin;
font-size: 3.5vmin;
font-weight: 700;
border-radius: .5vmin;
height:auto;
width: 100%;
background-color: white;
padding-top: 3vmin;
}

.formSendButton:hover{
    background-color: #2f2e2e;
    color:#a6f4dc;
    border-color: #a6f4dc;
    cursor: pointer;
}


.formTitle{
 display: flex;   
 justify-content: center;
 height: auto;
 width: 100%;
 margin-top:10vmin;
 margin-bottom: 7.5vmin;
 font-size: 5.5vmin;
 font-weight: 900;

}

/* Send us a message END*/

/* Footer */

.footerRow{
height: 25vmin;
width: 100%;
background-color: black;
color:white;
font-family: 'Poiret One', cursive;
display: flex;
justify-content: space-evenly;
align-items: center;
line-height: 2;
font-size: 4.25vmin;
}


.footerRow{
display: flex;
justify-content: space-evenly;
}

.column1{
display: flex;
flex-direction: column;
}

.column1:hover{
cursor: pointer;
    }

.column2{
    display: flex;
    flex-direction: column;
    }

    .column2:hover{
        cursor: pointer;
            }

    .column3{
        display: flex;
        flex-direction: column;
        }

        .column3:hover{
            cursor: pointer;
                }
/* Footer End*/



   