*{
    margin: 0;
    font-family: 'Poiret One', cursive;
    
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
color:#a6f4dc;
text-decoration: none;
cursor: pointer;
font-weight: 900;
}
/* Navbar */
.navbar{
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:13vh;
    width:100%;
    background-color:black;
    color:white;
    font-size:4.5vmin;
    position:fixed;
    top: 0;
    z-index: 2;
    font-weight: 900;
  
    }


/* Navbar END */

.background{
    display: flex;
    flex-direction: row;
   

}

.column{
display: flex;
flex-direction: column;

}

.contents{
padding-top: 20vmin;
display:block;
flex-direction: column;
height: 100%;
width:25vmin;
border-right:solid #a6f4dc;
border-bottom:solid #a6f4dc;
line-height: 2.5;
font-size: 4.5vmin;
font-weight: 900;
padding-right: 1vmin;
position: fixed;
padding-left:3vmin;
background-color: #dedede;
}



.information{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width:60%;
    padding-top:5vmin;
    font-size: 3.75vmin;
    line-height: 1.5; 
    margin-left: 33%; 
    margin-right: 4vmin;
    font-weight: 900;

}

.heading{
display: flex;
flex-direction: column;
padding-top:20vmin;
justify-content: center;
align-items: center;
align-content: center;
font-weight: 900;
font-size: 5vmin;
padding-bottom: 3vmin;
}

/* Footer */

.footerRow{
    height: 25vmin;
    width: 100%;
    background-color: black;
    color:white;
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 2;
    font-size: 4.25vmin;
    z-index:3;
    position: relative;
    }
    
    
    .footerRow{
    display: flex;
    justify-content: space-evenly;
    }
    
    .column1{
    display: flex;
    flex-direction: column;
    }
    
    .column1:hover{
    cursor: pointer;
        }
    
    .column2{
        display: flex;
        flex-direction: column;
        }
    
        .column2:hover{
            cursor: pointer;
                }
    
        .column3{
            display: flex;
            flex-direction: column;
            }
    
            .column3:hover{
                cursor: pointer;
                    }
    /* Footer End*/
    